.full-page-container {
  display: grid;
  grid-template: 1fr / 1fr 1fr;
  height: 90vh;
}

.full-page-container > figure {
  width: 100%;
  overflow: hidden;
}

.decorative-image {
  min-height: 90vh;
}

.questions-container {
  display: grid;
  grid-template: 1fr 1fr 3fr / 1fr;
  justify-items: center;
  align-items: center;
  background-color: var(--background-color);
}

.questions-container > h2,
.questions-container > h1 {
  width: 75%;
  text-align: center;
  color: var(--grey);
  font-family: var(--font-family-title);
  font-weight: bold;
}

.questions-container > h2 {
  font-size: var(--font-size-h2);
}

.questions-container > h1 {
  font-size: var(--font-size-h1);
}

.questions-container > h3 {
  font-family: var(--font-family-body);
  font-weight: bold;
  font-size: var(--font-size-text);
  text-align: center;
  padding: 0px 32px;
  color: var(--secondary-font-color);
}

.questions-container h1 > strong {
  color: var(--accent-color);
}

.questions-container > ul > li > button,
button {
  font-family: var(--font-family-body);
  font-weight: bold;
  font-size: var(--font-size-text);
  width: 100%;
  height: 100%;
  border: 0;
  border-radius: 30px;
  background-color: var(--fore-ground-color);
  padding: 0px 16px;
}

button {
  font-family: var(--font-family-body);
  font-weight: bold;
  font-size: var(--font-size-text);
  width: 75%;
  height: 75%;
  border: 0;
  border-radius: 30px;
  background-color: var(--fore-ground-color);
  padding: 0px 16px;
}

.questions-container button:hover,
.questions-container button:focus {
  background-color: var(--accent-color);
  color: white;
  border: 0;
}

.questions-container > ul.buttons-container {
  width: 100%;
  height: 100%;
  list-style: none;
  --gap: 32px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  gap: var(--gap);
  padding: var(--gap);
}

@media screen and (max-width: 1200px) {
  .full-page-container {
    grid-template: 1fr / 1fr 2fr;
  }

  .decorative-image > img {
    min-height: 90vh;
    transform: translateX(-30vw);
  }
}

@media screen and (max-width: 800px) {
  .full-page-container {
    grid-template: 1fr / 1fr;
  }

  .full-page-container > figure {
    display: none;
  }

  /* progress bar */

  .progress-bar div {
    --size: 32px;
  }

  .questions-container > ul.buttons-container {
    --gap: 16px;
  }
}
