footer {
  background-color: var(--background-color);
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.credit {
  font-family: var(--font-family-body);
}
.credit > p > a {
  text-decoration: none;
  color: var(--accent-color);
}
.credit > p > a:hover {
  color: var(--accent-hover-color);
}
p {
  font-size: var(--font-size-text);
}
