.search-input {
  background-color: red;
}

header {
  width: 100vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../assets/images/headerCactus.jpg");
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}
