@import "NavBar.css";
@import "PlantCard.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Part about importing fonts : Champagne&Limousines for titles and Monsterra otherwise */
@font-face {
  font-family: "Champagne-Limousines";
  src:
    url("../fonts/Champagne-Limousines.ttf") format("truetype"),
    url("../fonts/Champagne-Limousines-Bold.ttf") format("truetype");
  font-stretch: normal;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Champagne-Limousines";
  src: url("../fonts/Champagne-Limousines-Bold.ttf") format("truetype");
  font-weight: bold;
}

:root {
  --background-color: #4f4f4f;
  --fore-ground-color: #ffffff;
  --dark-color: #393e41;
  --accent-color: #49ba70;
  --accent-hover-color: #2f864e;

  --font-size-h1: 64px;
  --font-size-h2: 48px;
  --font-size-h3: 32px;
  --font-size-text: 24px;

  --font-family-title: "Champagne-Limousines";
  --font-family-body: Montserrat;

  --primary-font-color: black;
  --secondary-font-color: #726e6e;
}
