.click-like-icon {
  background: none;
  padding: 0;
  width: auto;
  height: auto;
}

#like-empty,
#like-red {
  width: 70px;
  height: auto;
  transition-duration: 0.2s;
  transition-property: transform;
}

#like-empty:hover,
#like-red:hover {
  cursor: pointer;
  transform: scale(1.2);
}
