.results-header > h1 {
  color: black;
  font-family: var(--font-family-title);
  font-weight: bold;
  font-size: var(--font-size-h1);
  text-align: center;
}

.results-header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 20vh;
  background-color: var(--background-color);
}
