#sticky-filter ul {
  list-style-type: none;
  border: 1px solid black;
  background-color: var(--dark-color);
  display: flex;
  border-radius: 100px;
}

#sticky-filter {
  display: none;
  position: fixed;
  bottom: 0;
  right: 0;
  box-sizing: border-box;
  width: 444px;
  height: 86px;
}

#sticky-filter ul li button img {
  box-sizing: border-box;
  width: 36px;
  height: 52px;
}
