.sticky-filters-parent {
  background-color: var(--dark-color);
  height: 9vh;
  justify-content: space-between;
  align-items: center;
  border-radius: 100px;
  position: fixed;
  bottom: 2vh;
  right: 2vw;
  z-index: 2;
}

.sticky-filters-parent div ul {
  display: flex;
  list-style: none;
  margin-right: 1vw;
  margin-left: 1vw;
}

.visible {
  display: flex;
}

.hidden {
  display: none;
}

.sticky-filters-parent ul li img {
  background-color: transparent;
  height: calc(2 / 3 * min(10vh, 5vw));
}

.sticky-filters-parent ul li button {
  background-color: transparent;
  cursor: pointer;
  padding-right: 0vh;
}

.sticky-filters-parent ul li button img {
  display: flex;
}

.sticky-filters-parent button:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 800px) {
  .sticky-filters-parent {
    height: 7vh;
    bottom: 1vh;
    right: 1vw;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 40%;
    display: flex;
    justify-content: center;
    margin-left: 15%;
  }

  .sticky-filters-parent div ul {
    margin-right: 5vw;
    margin-left: 1vw;
  }
  .sticky-filters-parent div ul li button img {
    height: 2.5vh;
  }
}
